<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <title>12 лаб</title>
</head>
<body>
  <div class="form">
    <h1>Список студентов</h1>
    <p>Введите данные студанта, чтобы добавить его в список</p>
    <h2>Форма</h2>
    <form>
      <label class="text" for="surname">Фамилия</label>
      <input id="surname" v-model="surname">
      <label class="text" for="name">Имя</label>
      <input id="name" v-model="name">
    </form>
    <p>Количество символов: {{name.length + surname.length}}</p>
    <button v-on:click="StudentsList" v-bind:disabled="zero">Добавить</button>
    <h2>Список</h2>
    <ul v-if="list.length">
      <li v-for="elem in list">{{elem}}</li>
    </ul>
    <p v-else>Список пуст</p>
  </div>
  <script src="script.js"></script>
</body>
</html>
